<div class="col-md-4 photo-container">
  <div class="thumbnail">
    <a href="#"
       onclick="prepareModal(this);"
       data-photo-id="<%= photo['id'] %>"
       data-title="<%= photo['name'] %>"
       data-large-src="<%= photo['images'][2]['url'] %>">
      <img width="100%" src="<%= photo['images'][0]['url'] %>" />
    </a>
    <div class="caption text-center">
      <p>
        <%= link_to toggle_liked_path(photo['id'], photo.fetch('liked', false)),
              method: :put,
              remote: true,
              class: "btn #{photo['liked'] ? 'btn-danger' : 'btn-default'}",
              id: "like-#{photo['id']}",
              role: 'button' do %>
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        <% end %>
      </p>
    </div>
  </div>
</div>
